* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --amarelo: #e39d10;
    --amarelo-gold: #FFD700;
    --amarelo-Khaki: #F0E68C;
    --azul: #10bde0;
    --azul-claro: #c9dfff;
    --azul-escuro: #131b38;
    --azul-vivo: #0088cc;
    --azul-gradient: #131b38, #192039, #0088cc;
    --cinza-escuro: #232526;
    --verde-escuro: #0c100c;
    --verde-medio: #059a13;
}

body {
    background-color: var(--amarelo-Khaki);
    color: var(--cinza-escuro);
}

p, li, a {
    font-size: 1.2em;
    line-height: 1.5;
}

h2 {
    font-size: 2em;
}

h3 {
    margin: 14px 0 3px;
}

.logo {
    /*Mudando a cor da fonte do nome*/
    color: white;
    /*Deixando o texto formatado*/
    text-transform: uppercase;
    /*Mudando o espaçamento das letras*/
    letter-spacing: 5px;
    /*Tamaho da letra*/
    font-size: 20px;
}

.navbar header h1 {
    color: var(--amarelo-gold);
    font-size: 2em;
    padding: 14px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    height: 100%;
    padding: 0;
    overflow: auto;
}

.nav-links {
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: double;
    border-right-color: var(--amarelo);
}

.nav-links li:last-child {
    margin-right: 0px;
}

.nav-links li {
    display: inline-block;
    padding: 10px 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    list-style: none;
    text-align: left;
    text-transform: uppercase;
    color: var(--azul-claro);
    border-top: 1px solid;
    width: 100%;
}

.nav-links a {
    display: block;
    padding: 10px 10px;
    transition: all 0.3s ease;
    color: var(--amarelo-Khaki);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 0.7em;
    font-weight: bold;
}

.nav-links li a:hover {
    color: var(--amarelo-gold);
    transition: all 0.3s ease;
}

.nav-links li:last-child {
    border-bottom: double;
}

/*menuBtn*/
.menuBtn {
    display: none;
    cursor: pointer;
}

.menuBtn div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/*fimMenuBtn*/
main {
    position: relative;
    margin-left: 300px;
    padding: 14px;
}

/*section*/section:first-child {
    margin-top: -44px;
}

section {
    margin-left: 14px;
    margin-bottom: 25px;
}

section > header {
    margin-left: -10px;
}

section h2 {
    text-transform: capitalize;
}

section ul {
    margin-left: 25px;
}

section div.exemplo {
    position: relative;
    background-color: #000;
    border-radius: 7px;
    color: var(--azul-claro);
    margin: 14px 0;
    padding: 7px 7px 5px;
    overflow: auto;
}

section p.resultado {
    border: 1px solid var(--cinza-escuro);
    border-radius: 7px;
    color: var(--verde-medio);
    padding: 3px 7px;
    text-transform: lowercase;
    font-size: 1em;
    margin-bottom: 7px;
}

section div.exemplo > pre {
    color: var(--amarelo-gold);
    margin-left: -44px;
    margin-top: 7px;
}

section .verde {
    color: var(--verde-medio);
}

.amarelo {
    color: #000;
    border-radius: 7px 0;
    background-color: yellow;
    padding: 0 7px;
}

/*fimSection*/
@media screen and (max-width:768px) {
    nav {
        background-color: #000;
    }

    .nav-links {
        z-index: 999;
        color: var(--amarelo-gold) !important;
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 8vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        left: -100%;
        transition: transform 0.5s ease-in;
    }

    #menuBtn {
        width: 100%;
    }

    /*.nav-links li {
    opacity: 0;
    }*/

    .menuBtn {
        top: 6px;
        display: block;
    }

    main {
        left: 0;
        padding: 0 14px;
        position: relative;
        margin-left: 0px !important;
        z-index: -1;
    }

    section:first-child {
        margin-top: -4px;
    }

    section {
        padding-top: 14px !important;
        margin-bottom: 20px !important;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #topo {
        background-color: #000;
        font-size: 0.8em;
        padding: 2px 10px;
        border-radius: 7px;
        right: 12px;
        position: fixed;
        color: #fff;
        bottom: 3px;
    }

    #comentario {
        margin-top: 580px;
    }
}

@media screen and (max-width:400px) {
    section h2 {
    font-size: 1.6em;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*Transformando o menu em X*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*@media screen and (max-width: 768px) {
    .nav-links.nav-active li {
    opacity: 1;
    }
}*/